@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Merriweather:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
   font-family: 'Roboto Slab', serif;
}

h1 {
   font-family: 'Pacifico', 'Gideon Roman', cursive, serif, cursive;
   color: rgb(236, 177, 236);
   margin: auto;
   padding: 10px 5px;
}

body {
   background-color: rgba(40, 60, 40, .6);
}

a {
   text-decoration: none;
   color: #ffffff;
}

.AppNav {
   border-bottom: solid 2px deepskyblue;
   padding-bottom: 1rem;
}

.AppNav a {
   font-family: 'Merriweather';
   font-size: 1.5em;
   padding-left: 5px;
   padding-right: 5px;
}